
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto' , sans-serif,;

}

.material-icon{
    color: rgb(96, 96, 96);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}
.heder-left{
    display: flex;
    align-items: center;
}
.heder-left img{
    width: 100px;
    margin-left: 15px;
}
    
.header__icon{
    padding: 0px 7px;
    cursor: pointer;
}
.header__search form{
    border: 1px solid #ddd;
    height: 35px;
    margin: 0;
    padding: 0;
    display:flex ;


}
.header__search input{
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
}
.header__search button{
    padding: 0;
     margin: 0;
     height: 100%;
     border: none;
     border-radius: 0;

}
.mainBody{
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
}

.sidebar{
    height: 100%;
    width: 230px;
    background-color: white;
overflow-y: scroll;
}

.sidebar__categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: bottom 15px;
    margin-top: 15px;
}
.categoriy{
    display: flex;
    align-items: center;
    padding:12px 25px ;
}

.categoriy span{
    margin-left: 15px;

}
.categoriy:hover{
    background: #e5e5e5;
    cursor: pointer;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}
.connect{
    display: flex;
    align-items: center;

    

}
.button{
    margin-top: 1000px;
    margin-left: -290px;
}
.try{
    width:100px;
    height: 100px;
    color: rgb(18, 56, 228);
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(241, 229, 229);
    border: none;
}